.slider-wrapper {

}

.slider-container {
    position: relative;
}

.slider-content {
    display: flex;
    overflow: hidden;
}

.slider {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

.slider.active {
    animation: fadeIn 0.3s linear;
}

@keyframes fadeIn {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

.btn-wrapper {
    position: absolute;
    bottom: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.slider-btn {
    position: relative;
    margin: 0 10px;
    padding: 0;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.slider-btn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all 0.3s linear;
}

.slider-btn.active::before {
    opacity: 1;
    visibility: initial;
    transform: scale(1);
}
