.wrapper {
    display: grid;
    grid-template-columns: 60% auto;
}

.table-wrapper {
    margin-top: 90px;
}

.table {
    width: 80%;
    border-collapse: collapse;
}

tr th,
tr td {
    text-align: left;
    padding: 4px 2px;
    border-bottom: 1px solid black;
}

tr th:first-child,
tr th:last-child,
tr td:first-child,
tr td:last-child {
    text-align: center;
}