<div class="wrapper">
    <app-template-driven-form (itemChange)="addItem($event)" />
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items; index as i">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.password}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>